In [13]:
import pandas as pd
import numpy as np

In [14]:
data_dir = '../data/'
df_defendant_docket_complete = pd.read_csv(data_dir+'defendant_docket_complete.csv')
df_docket_details = pd.read_csv(data_dir+'defendant_docket_details.csv')
df_docket_ids = pd.read_csv(data_dir+'defendant_docket_ids.csv')
df_offenses_disposition = pd.read_csv(data_dir+'offenses_dispositions_v3_cleaned_peroid.csv')

C:\Users\bobmst\AppData\Local\Temp\ipykernel_22732\1381738210.py:5: DtypeWarning: Columns (5,6,7,8,9,10,11,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_offenses_disposition = pd.read_csv(data_dir+'offenses_dispositions_v3_cleaned_peroid.csv')

### info of df_docket_details

In [15]:
df_docket_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370313 entries, 0 to 370312
Data columns (total 19 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   docket_id                                          370313 non-null  int64
 1   gender                                             370083 non-null  object
 2   race                                               361380 non-null  object
 3   date_of_birth                                      370094 non-null  object
 4   arrest_date                                        370236 non-null  object
 5   complaint_date                                     175245 non-null  object
 6   disposition_date                                   321488 non-null  object
 7   filing_date                                        370313 non-null  object
 8   initiation_date                                    370313 non-null  object
 9   status_name                                        370313 non-null  object
 10  court_office__court__display_name                  370313 non-null  object
 11  current_processing_status__processing_status       357962 non-null  object
 12  current_processing_status__status_change_datetime  370313 non-null  object
 13  municipality__name                                 356825 non-null  object
 14  municipality__county__name                         356825 non-null  object
 15  judicial_districts                                 370313 non-null  object
 16  court_office_types                                 370313 non-null  object
 17  court_types                                        370313 non-null  object
 18  representation_type                                370310 non-null  object
dtypes: int64(1), object(18)
memory usage: 53.7+ MB

In [16]:
df_dockt_complete['defendant_id'].count()

370094

In [17]:
len(df_dockt_complete['defendant_id'])

370313

In [18]:
# There are some missing values on defendant_id in the df_dockt_details which is not included in the defendant_id
df_dockt_complete['defendant_id'].count()/len(df_dockt_complete['defendant_id'])

0.9994086083934401

In [19]:
df_docket_details.describe()

           docket_id
count  370313.000000
mean   185158.316324
std    106900.855462
min         1.000000
25%     92580.000000
50%    185158.000000
75%    277737.000000
max    370315.000000

In [20]:
df_docket_details.head()

,docket_id,gender,race,date_of_birth,arrest_date,complaint_date,disposition_date,filing_date,initiation_date,status_name,court_office__court__display_name,current_processing_status__processing_status,current_processing_status__status_change_datetime,municipality__name,municipality__county__name,judicial_districts,court_office_types,court_types,representation_type
0,354343,Male,White,1976-01-01,2016-03-01,NaN,NaN,2016-03-01,2016-03-01,Inactive,Municipal Court - Philadelphia County,NaN,0001-01-01,Philadelphia City,Philadelphia,Philadelphia,Municipal,MC,"Prosecutor, Public Defender"
1,347123,Male,Black,1964-01-01,2016-03-01,NaN,NaN,2016-03-01,2016-03-01,Inactive,Municipal Court - Philadelphia County,NaN,0001-01-01,Philadelphia City,Philadelphia,Philadelphia,Municipal,MC,"Prosecutor, Public Defender"
2,355476,Female,White,1991-01-01,2016-03-01,NaN,NaN,2016-03-01,2016-03-01,Inactive,Municipal Court - Philadelphia County,NaN,0001-01-01,Philadelphia City,Philadelphia,Philadelphia,Municipal,MC,"Prosecutor, Public Defender"
3,366646,Male,White,1983-01-01,2016-03-01,NaN,NaN,2016-03-01,2016-03-01,Inactive,Municipal Court - Philadelphia County,NaN,0001-01-01,Philadelphia City,Philadelphia,Philadelphia,Municipal,MC,"Prosecutor, Public Defender"
4,346083,Female,White,1974-01-01,2016-03-01,NaN,NaN,2016-03-01,2016-03-01,Inactive,Municipal Court - Philadelphia County,NaN,0001-01-01,Philadelphia City,Philadelphia,Philadelphia,Municipal,MC,"Prosecutor, Public Defender"

### info of df_docket_ids

In [21]:
df_docket_ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370096 entries, 0 to 370095
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   defendant_id  370096 non-null  int64
 1   docket_id     370096 non-null  int64
dtypes: int64(2)
memory usage: 5.6 MB

In [22]:
df_docket_ids.describe()

        defendant_id      docket_id
count  370096.000000  370096.000000
mean    78557.868369  185173.347172
std     42353.984433  106896.982623
min        65.000000       1.000000
25%     42475.750000   92600.750000
50%     80450.000000  185188.500000
75%    115944.000000  277744.250000
max    149045.000000  370315.000000

In [23]:
df_docket_ids.head()

   defendant_id  docket_id
0            65     242529
1            66     265728
2            66     268012
3            67     259384
4            68     239736

### info of df_docket_complete

In [24]:
df_defendant_docket_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370313 entries, 0 to 370312
Data columns (total 21 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   Unnamed: 0                                         370313 non-null  int64
 1   docket_id                                          370313 non-null  int64
 2   gender                                             370083 non-null  object
 3   race                                               361380 non-null  object
 4   date_of_birth                                      370094 non-null  object
 5   arrest_date                                        370236 non-null  object
 6   complaint_date                                     175245 non-null  object
 7   disposition_date                                   321488 non-null  object
 8   filing_date                                        370313 non-null  object
 9   initiation_date                                    370313 non-null  object
 10  status_name                                        370313 non-null  object
 11  court_office__court__display_name                  370313 non-null  object
 12  current_processing_status__processing_status       357962 non-null  object
 13  current_processing_status__status_change_datetime  370313 non-null  object
 14  municipality__name                                 356825 non-null  object
 15  municipality__county__name                         356825 non-null  object
 16  judicial_districts                                 370313 non-null  object
 17  court_office_types                                 370313 non-null  object
 18  court_types                                        370313 non-null  object
 19  representation_type                                370310 non-null  object
 20  defendant_id                                       370094 non-null  float64
dtypes: float64(1), int64(2), object(18)
memory usage: 59.3+ MB

### info of df_offenses_disposition

In [25]:
df_offenses_disposition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465113 entries, 0 to 1465112
Data columns (total 18 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   docket_id                           1465113 non-null  int64
 1   description                         1465113 non-null  object
 2   statute_description                 1465113 non-null  object
 3   sequence_number                     1465113 non-null  int64
 4   grade                               1261789 non-null  object
 5   disposition                         439769 non-null   object
 6   disposing_authority__first_name     439759 non-null   object
 7   disposing_authority__middle_name    321685 non-null   object
 8   disposing_authority__last_name      439769 non-null   object
 9   disposing_authority__title          439761 non-null   object
 10  disposing_authority__document_name  439769 non-null   object
 11  disposition_method                  126426 non-null   object
 12  min_period                          103725 non-null   object
 13  max_period                          373779 non-null   object
 14  period                              373779 non-null   object
 15  sentence_type                       439769 non-null   object
 16  numeric_min_period                  96025 non-null    float64
 17  numeric_max_period                  335356 non-null   float64
dtypes: float64(2), int64(2), object(14)
memory usage: 201.2+ MB

In [26]:
df_offenses_disposition.describe()

          docket_id  sequence_number  numeric_min_period  numeric_max_period
count  1.465113e+06     1.465113e+06        96025.000000       335356.000000
mean   1.826981e+05     5.290252e+03          599.620760         1023.459643
std    1.079878e+05     2.237423e+04          897.495029         1124.357296
min    1.000000e+00     1.000000e+00            0.000000            1.000000
25%    8.890600e+04     1.000000e+00          182.621250          365.242500
50%    1.793940e+05     2.000000e+00          350.024063          730.485000
75%    2.780240e+05     5.000000e+00          730.485000         1095.727500
max    3.703150e+05     9.999900e+04        18262.125000        36524.250000

In [27]:
df_offenses_disposition.head()

,docket_id,description,statute_description,sequence_number,grade,disposition,disposing_authority__first_name,disposing_authority__middle_name,disposing_authority__last_name,disposing_authority__title,disposing_authority__document_name,disposition_method,min_period,max_period,period,sentence_type,numeric_min_period,numeric_max_period
0,18522,Theft By Unlaw Taking-Immovable Prop,Theft By Unlaw Taking-Immovable Prop,68,F3,Guilty Plea - Non-Negotiated,Nina,N.,Wright Padilla,Judge,Nina N. Wright Padilla,NaN,NaN,7 years,7 years,Probation,NaN,2556.6975
1,198854,Identity Theft,Identity Theft,17,F3,Guilty Plea - Negotiated,Ellen,NaN,Ceisler,Judge,Ellen Ceisler,NaN,NaN,4 years,4 years,Probation,NaN,1460.9700
2,216257,Endangering Welfare of Children - Parent/Guard...,Endangering Welfare of Children - Parent/Guard...,13,F3,Guilty Plea,Earl,W.,Trent,Senior Judge,Earl W. Trent,NaN,3.5 years,7 years,3 1/2 to 7 years,Confinement,1278.34875,2556.6975
3,217440,Firearm Ownership-Providing False Info,Firearm Ownership-Providing False Info,13,F3,Guilty Plea - Negotiated,Lillian,NaN,Ransom,Judge,Lillian Ransom,NaN,NaN,NaN,NaN,No Further Penalty,NaN,NaN
4,44718,False Reports - Reported Offense Did Not Occur,False Reports - Reported Offense Did Not Occur,13,M3,Guilty Plea - Non-Negotiated,Leon,NaN,Tucker,Judge,Leon Tucker,Non-Jury Trial,NaN,1 years,1 year,Probation,NaN,365.2425

In [28]:
df_offenses_disposition['sentence_type'].value_counts()

Probation             229443
Confinement           136513
No Further Penalty     41790
Merged                 24200
IPP                     7823
Name: sentence_type, dtype: int64